body{
    background-color: rgb(232, 232, 243);
}

#startQuiz{
    border-radius: 25px;
}

h1{
    margin: 30px 50px 20px 50px;
}

#viewScores{
    border-radius: 25px;
    width: 30%;
}

#viewScoresText{
    color:white;
    text-decoration: none;
}


#instructions{
    margin: 0 30px 15px;
}

/* div{
    border: 1px solid green;
} */

li{
    list-style-type: none;
}

.choices{
    width: 80%;
    margin: 15px;
}

#rightOrWrong{
    color: rgb(88, 88, 88);
    font-weight: 600;
    font-style: italic;
}

#quizQuestionsDiv{
    padding: 15px;
    border: 5px dashed rgb(146, 146, 146);
    background-color: rgb(240, 240, 248);
}

#timer{
    margin-top: 20px;
}


#clearScores{
    margin-bottom: 25px;
}

